<div>
  text
  {{test}}
  <!-- <ul>
    <li>name: {{name}}</li>
    <li>surn: {{surn}}</li>
  </ul> -->
  <img src="test.png" alt="picture">
  <!-- @for (elem of arr; track $index) {
    <p>
      {{ elem }}
    </p>
  } -->

  <p>name: {{user.name}}</p>
  <p>surn: {{user.surn}}</p>

  <img src={{user.img}} alt={{user.alt}}>

  <div>
    {{showName()}}
    {{showSurn()}}
  </div>

  <div *ngIf="isAdmin">
    text1
  </div>

  <ul>
    <li *ngFor="let el of arr; let a = first">
      {{ a ? 'первый' : '' }}
      {{ el }}
    </li>
  </ul>
  <!-- @for (key in user) {
    <p>
      key: {{user.key}}
    </p>
  } -->
  <!-- <p *ngFor="let key in user">
		{{key}}: {{ user[key] }}
	</p> -->
  <textarea>{{ test }}</textarea>
  <textarea placeholder="{{ test }}"></textarea>
  <textarea [value]="test"></textarea>
</div>
